.img-responisve {
    display: block; /* Ensures image behaves as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    max-width: 100%; /* Limits the image size to its container width */
    width: 500px; /* Set the image width to 80% of its container */
    height: 400px; /* Maintains the aspect ratio */
  }

.container{
   
    justify-content: center;
    align-items: center;
    border: 1px  solid white;
    width: fit-content;
    height: fit-content;
    padding: 80px;
    border-radius: 5%;
}
