<h3 *ngIf="editMode==false">CREATE POST</h3>
<h3 *ngIf="editMode==true">EDIT POST</h3>
<form [formGroup] = "form" (ngSubmit)="onSubmit()" >
    <div class="form-row" class="center-content black-background">
      <div class="form-group col-md-6" class="center-content black-background text-center">
        <label for="inputAddress">TITLE </label>
        <input type="text" class="form-control" id="inputTitle"  formControlName="title">
      </div>
      <br><br>
      <div class="form-group col-md-6" class="center-content black-background text-center" >
        <label for="inputAddress2">IMAGE</label>
        <input type="text" class="form-control" id="inputImage"  formControlName="image">
        <img class="img-responsive" src="{{ form.value.image }}"/>
      </div>
      <br>
    </div>
    <div class="form-group col-md-6" class="center-content black-background text-center">
      <label for="inputAddress3">DESCRIPTION</label>
      <textarea type="text" class="form-control" id="inputDescription"  formControlName="description"> </textarea>
    </div> 
    <br>
    <div class="form-group col-md-6" class="center-content black-background text-center">
      <label for="inputAddress4">AUTHOR</label>
      <input type="text" class="form-control" id="inputAuthor"  formControlName="author"> &nbsp;
    </div> &nbsp;
   <br>
    <div class="form-row" class="center-content black-background text-center">
      <div class="form-group col-md-6"class="center-content black-background">
        <label for="inputCity">DATE</label>
        <input 
         type="text" 
         class="form-control"
         id="inputCity" 
         formControlName="date">
      </div> 
      <br>
    </div> &nbsp;
    <button 
    type="submit" 
    class="btn btn-success" [disabled]="form.invalid"  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy2-fill" viewBox="0 0 16 16">
      <path d="M12 2h-2v3h2V2Z"/>
      <path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v13A1.5 1.5 0 0 0 1.5 16h13a1.5 1.5 0 0 0 1.5-1.5V2.914a1.5 1.5 0 0 0-.44-1.06L14.147.439A1.5 1.5 0 0 0 13.086 0H1.5ZM4 6a1 1 0 0 1-1-1V1h10v4a1 1 0 0 1-1 1H4ZM3 9h10a1 1 0 0 1 1 1v5H2v-5a1 1 0 0 1 1-1Z"/>
    </svg>
    Save</button> &nbsp;|
    <button
     type="reset" 
     class="btn btn-primary">
     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser" viewBox="0 0 16 16">
      <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
    </svg>
     Clear</button> 
  </form>